<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Shanthi Dharma Family Quiz</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="container">

    <div class="welcome-card">

        <div class="welcome-icon">
            🌸
        </div>

        <h1>
            Welcome to the<br>
            Shanthi Dharma Family Quiz!
        </h1>

        <p class="welcome-text">
            A little quiz made with lots of love,
            laughter and family memories. ❤️
        </p>

        <p class="welcome-text">
            Let's see who knows
            <strong>Shanthi Dharma</strong> the best! 😄
        </p>

        <div class="family-message">

            ✨ Think carefully... Have fun...
            and don't take it too seriously! 😜 ✨

        </div>

        <br>

        <a href="/quiz" class="big-btn">
            🎮 Start the Fun
        </a>

    </div>

</div>

</body>

</html>